<h1>Log batch entry</h1>
<% if @product_entry %> 
  <% if @product_entry.errors.any? %>
    <span>Check the fields below:</span>
    <ul>
    <% @product_entry.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
<% end %>

<%= form_with(url: product_items_entry_path ) do |form| %>
  <div>
    <%= form.label :quantity, 'Quantidade' %>
    <%= form.number_field :quantity %>
  </div>
  <div>
    <%= form.label :warehouse_id, 'Galpao Destino' %>
    <%= form.collection_select :warehouse_id, @warehouses, :id, :code %>
  </div>
    <div>
    <%= form.label :product_model_id, 'Produto' %>
    <%= form.collection_select :product_model_id, @product_models, :id, :name %>
  </div>
  <div>
    <%= form.submit 'Save'%>
  </div>
<% end %>