<div class="content">
  <% if product_model.id == nil %>
  <h1>New Product Model</h1>
  <% else %>
  <h1>Edit Product Model</h1>
  <% end %>
  <% if product_model.errors.any? %>
    <span>Check the fields below:</span>
    <ul>
    <% product_model.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
</div>

<%= form_with(model: product_model) do |form| %>
  <div class="field">
    <%= form.label :name, class: 'label' %>
    <div class="control">
      <%= form.text_field :name, class: 'input', placeholder: 'nome' %>
    </div>
  </div>
  <div class="field">
    <%= form.label :weight, class: 'label' %>
    <div class="control">
      <%= form.text_field :weight, class: 'input', placeholder: 'peso' %>
    </div>
  </div>
  <div class="field">
    <%= form.label :height, class: 'label' %>
    <div class="control">
      <%= form.text_field :height, class: 'input', placeholder: 'altura' %>
    </div>
  </div>
  <div class="field">
    <%= form.label :width, class: 'label' %>
    <div class="control">
      <%= form.text_field :width, class: 'input', placeholder: 'largura' %>
    </div>
  </div>
  <div class="field">
    <%= form.label :length, class: 'label' %>
    <div class="control">
      <%= form.text_field :length, class: 'input', placeholder: 'comprimento' %>
    </div>
  </div>
  <div class="field">
    <%= form.label :supplier_id, class: 'label' %>
    <div class="control">
      <div class="select">
        <%= form.collection_select(:supplier_id, @supplier, :id, :fantasy_name) %>
      </div>
    </div>
  </div>
  <div class="field">
    <%= form.label :product_category_id, class: 'label' %>
    <div class="control">
      <div class="select">
        <%= form.collection_select(:product_category_id, @product_category, :id, :name) %>
      </div>
    </div>
  </div>
  <%= form.submit 'Save', class: 'button is-primary' %>
<% end %>
