<h1><%= @pm.name %></h1>
<dl>
<dt>Peso:</dt>
<dd><%= @pm.weight %></dd> gramas
<dt>Dimensoes:</dt>
<dd><%= @pm.dimensions %>
<dt>Codigo SKU:</dt>
<dd><%= @pm.sku %></dd>
<dt>Fornecedor:</dt>
<dd><%= @pm.supplier.fantasy_name %></dd>
</dl>

<%= link_to 'Return', :back %>
