<% if product_category.id == nil %>
<h1>New Product Category</h1>
<% else %>
<h1>Edit Product Category</h1>
<% end %>
<% if product_category.errors.any? %>
  <span>Check the fields below:</span>
  <ul>
  <% product_category.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_with(model: product_category) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <%= form.submit 'Save'%>
<% end %>
