<h1>New Supplier</h1>
<% if @sp.errors.any? %>
  <span>Check the fields below:</span>
  <ul>
  <% @sp.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_with(model: @sp) do |form| %>
  <div>
    <%= form.label :fantasy_name, 'Nome Fantasia' %>
    <%= form.text_field :fantasy_name %>
  </div>
  <div>
    <%= form.label :legal_name, 'Razao Social' %>
    <%= form.text_field :legal_name %>
  </div>
  <div>
    <%= form.label :cnpj, 'CNPJ' %>
    <%= form.text_field :cnpj %>
  </div>
  <div>
    <%= form.label :address, 'Endereco' %>
    <%= form.text_field :address %>
  </div>
  <div>
    <%= form.label :email, 'Email' %>
    <%= form.text_field :email %>
  </div>
  <div>
    <%= form.label :phone, 'Telefone' %>
    <%= form.text_field :phone %>
  </div>
  <%= form.submit 'Register'%>
<% end %>
