<h1><%= @supplier.fantasy_name %></h1>
<%= @supplier.legal_name %>
<dl>
<dt>CNPJ:</dt>
<dd><%= @supplier.cnpj %></dd>
<dt>Endereço:</dt>
<dd><%= @supplier.address %>
<dt>Email:</dt>
<dd><%= @supplier.email %></dd>
<dt>Telefone:</dt>
<dd><%= @supplier.phone %></dd>
</dl>

<h2>Products from this supplier</h2>
<table>
  <tr>
    <th>Nome</th>
    <th>Codigo SKU</th>
  </tr>
  <% @supplier.product_models.each do |pm| %>
  <tr>
    <td><%= link_to(pm.name, pm) %></td>
    <% if user_signed_in? %>
      <td><%= pm.sku %> | <%= link_to 'Edit', edit_product_model_path(pm.id), id: "edit-#{pm.id}" %></td>
    <% else %>
      <td><%= pm.sku %></td>
    <% end%>
  </tr>
  <% end %>
</table>

<br/>
<br/>
<br/>
<br/>

<%= link_to 'Return', suppliers_path %>
