<% if warehouse.id == nil %>
<h1>New Warehouse</h1>
<% else %>
<h1>Edit Warehouse</h1>
<% end %>
<% if warehouse.errors.any? %>
  <span>Check the fields below:</span>
  <ul>
  <% warehouse.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_with(model: warehouse) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>
  <div>
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>
  <div>
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>
  <div>
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code %>
  </div>
  <div>
    <%= form.label :total_area %>
    <%= form.number_field :total_area %>
  </div>
  <div>
    <%= form.label :useful_area %>
    <%= form.number_field :useful_area %>
  </div>
  <%= form.submit 'Save'%>
<% end %>
