<%= @warehouse.name %>
<%= @warehouse.code %>
<dl>
<dt>Descrição:</dt>
<dd><%= @warehouse.description %></dd>
<dt>Endereço:</dt>
<dd><%= @warehouse.address %>-<%= @warehouse.city %>/<%= @warehouse.state %></dd>
<dt>CEP:</dt>
<dd><%= @warehouse.postal_code %></dd>
<dt>Area Total:</dt>
<dd><%= @warehouse.total_area %> m2</dd>
<dt>Area Util:</dt>
<dd><%= @warehouse.useful_area %> m2</dd>
</dl>

<h2>Estoque</h2>

<% @items.each_pair do |product_model, quantity| %>
  <div id="product-<%= product_model.id %>">
    <%= product_model.name %>
    Quantidade: <%= quantity %>
  </div>
<% end %>

<%= link_to 'Return', root_path %>
