<%= @warehouse.name %>
<%= @warehouse.code %>
<dl>
<dt>Descrição:</dt>
<dd><%= @warehouse.description %></dd>
<dt>Endereço:</dt>
<dd><%= @warehouse.address %>-<%= @warehouse.city %>/<%= @warehouse.state %></dd>
<dt>CEP:</dt>
<dd><%= @warehouse.postal_code %></dd>
<dt>Area Total:</dt>
<dd><%= @warehouse.total_area %> m2</dd>
<dt>Area Util:</dt>
<dd><%= @warehouse.useful_area %> m2</dd>
</dl>

<h2>Estoque</h2>

<% @items.each_pair do |product_model, quantity| %>
  <div id="product-<%= product_model.id %>">
    <div>
      <%= product_model.name %>
    </div>
    <div>
      Quantidade: <%= quantity %>
    </div>
  </div>
<% end %>


<h2>Entrada de Itens</h2>
<%= form_with(url: product_entry_warehouse_path(@warehouse.id)) do |form| %>
  <div>
    <%= form.label :quantity, 'Quantidade' %>
    <%= form.number_field :quantity %>
  </div>
      <div>
    <%= form.label :product_model_id, 'Produto' %>
    <%= form.collection_select :product_model_id, @product_models, :id, :name %>
  </div>
  <div>
    <%= form.submit 'Save'%>
  </div>
<% end %>

<%= link_to 'Return', root_path %>
