<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to 'Home', root_path %>
        <%= link_to 'See suppliers', suppliers_path %>
        <%= link_to 'Register new supplier', new_supplier_path %>
        <%= link_to 'Register new product model', new_product_model_path %>

        <% if user_signed_in? %>
          <%= link_to 'Register new warehouse', new_warehouse_path %>
          <span>Ola <%= current_user.email %></span> |
          <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Entrar', new_user_session_path %>
        <% end %>
      </nav>
    </header>
    <main>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
      <%= yield %>
    </main>
  </body>
</html>
